# Java
**.idea
log.txt
/.gradle
/target
/out
/data
send-service.log
LOG_FILE_IS_UNDEFINED
/build
*.swp
/core/Publish
/*.iml
/target/classes/BsVisi/Utilities/*.class
*.class
visi5-1.0-SNAPSHOT
classes
default-compile
core/WebApplication/*.txt
*.war
/.nb-gradle/
**/build
**/out
